* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    #65dfc9,
    #6cdbeb
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  display: flex;
  height: 700px;
  min-height: 700px;
  width: 1200px;
  min-width: 1200px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(20px);
  overflow: hidden;
  /*margin-left: 800px; DELETE ME*/
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dash {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 3;
  backdrop-filter: blur(20px);
}

.me {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.me h3{
  margin-top: 5px;
}
.me p {
  font-size: small;
}

.navi {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.spacer {
  flex: 1;
}

.stripButton {
  border-radius: 1rem;
  background: linear-gradient(
    to right top,
    #65dfc9,
    #6cdbeb
  );
  padding: 1rem 2rem;
  cursor: pointer;
}

.window {
  flex: 3;
}

.panelAligner {
  position: absolute;
  top     : 50px;
  left    : 350px;
  z-index: 2;
}

.buttonZoomAligner {
  position: absolute;
  width   : 800px;
  height  : 550px;
  z-index: 2;
}

.buttonAligner {
  position:absolute;
  bottom: -10px;
  left: 50px;
  display: flex;
  z-index: 2;
}

.panel {
  width:800px;
  height: 550px;
  background: linear-gradient(
    to right bottom,
    rgba(101, 223, 201, 0.6),
    rgba(108, 219, 235, 0.3)
  );
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  user-select: none;
}

#stripTree, .strip {
  position: absolute;
  left: 0px;
  top: 0px;
}


.panel p {
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}



.sliderContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.sliderGroup {
  flex-basis: 45%;
  flex-grow: 1;
  margin: 10px;
  height: 80px;
  position: relative;
}

.panelButtonAligner {
  position: absolute;
  width: 800px;
  height: 550px;
  background-color: red;
}

.panelButtonGroup {
  position: absolute;
  display: flex;
  top: 560px;
  left: 30px
}

.panelButton {
  height: 24px;
  width: 24px;
  border-radius: 25%;
  cursor: pointer;
  z-index: 10;
  margin-right: 10px;
  background-color: black;
}

.sliderGroup p {
  font-size: medium;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}



.slider {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;  
  outline: none;
  opacity: 0.7;
  position: relative;

  background: linear-gradient(
  to right bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.6));
  padding: 0;
  z-index: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  border-radius: 10px; 
  background: black;
  cursor: pointer;
  z-index: 4;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  z-index: 4;
}

.display {
  position: absolute;
  right: 15px;
  top: 6px;
  font-weight:bolder;
  font-size: x-large;
  color: rgba(101, 223, 201, 0.6);
  user-select: none;
  z-index:3;
}

.resetButtonGroup {
  flex-basis: 45%;
  flex-grow: 1;
  margin: 10px;
}

.resetButton {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: blue;
  right: 100px;
  cursor: pointer;
}

.runButton {
  position: absolute;
  background:blue;
  height: 50px;
  width: 50px;
  top: 550px;
  left: 500px;
  cursor: pointer;
}

.dragging {
  opacity: 0.5;
}
