.entity {
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  flex-shrink: 0;
  user-select: none;
  margin: 5px;
}

.options {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tileContainer { 
  flex:3;
  height: 500px;
  width: 500px;
  background-color: blue;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(11, 45px);
  grid-template-rows: repeat(11, 45px);
  padding: 4px;
}

.tile {
  height: 42px;
  width: 42px;
  background: white;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  user-select: none;

  font-size: xx-small;
  color: white;
}

.wall {
  background: red;
  user-select: none;
}

/* for testing */
.neighbor, .visited {
  background: orange;
  user-select: none;
}

.closed {
  background: black;
}

.path {
  background: green;
}