/* STRIP ------------------------------------------- */
.stripButton {
  border-radius: 1rem;
  background-color:#65dfc9;
  padding: 1rem 2rem;
  cursor: pointer;
  user-select: none;
  color:white;
}

.stripButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}

/* PANEL ------------------------------------------- */
.panelButtonAligner {
  position: absolute;
  width: 800px;
  height: 550px;
  user-select: none;
}

.panelButtonGroup {
  position: absolute;
  display: flex;
  top: 560px;
  left: 30px;
  user-select: none;
}

.panelButton {
  height: 24px;
  width: 24px;
  border-radius: 25%;
  cursor: pointer;
  z-index: 10;
  margin-right: 10px;
  background-color: white;
  user-select: none;
}

.panelButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}


#iframe, .gif, .video {
  overflow: hidden;
}
/* SLIDERS ------------------------------------------ */
.sliderContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.sliderGroup {
  flex-basis: 45%;
  flex-grow: 1;
  margin: 10px;
  height: 80px;
  position: relative;
}
.sliderGroup p {
  font-size: medium;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.slider {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;  
  outline: none;
  opacity: 0.7;
  position: relative;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.6));
    padding: 0;
    z-index: 2;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  border-radius: 10px; 
  background: black;
  cursor: pointer;
  z-index: 4;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  z-index: 4;
}

/* RESET -------------------------------------------- */
.resetButtonGroup {
  flex-basis: 45%;
  flex-grow: 1;
  margin: 10px;
}


.display {
  position: absolute;
  right: 15px;
  top: 6px;
  font-weight:bolder;
  font-size: x-large;
  color: rgba(101, 223, 201, 0.6);
  user-select: none;
  z-index:3;
}

.dragging {
  opacity: 0.5;
}

.algoButton, .resetButton, button {
  border-radius: 1rem;
  width: 50px;
  height: 50px;
  background-size:contain;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  cursor: pointer;
}

.resetButton {
  position: absolute;
  right: 100px;
  background-image: url(../icons/reset.png);
}

.shield {
  height: 500px;
  width: 500px;
  top: 25px;
  left: 275px; /*WILL NEED TO BE CHANGED!*/
  position: absolute;
  position: absolute;
  cursor:not-allowed;
}

.fsShield {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 10;
  cursor:not-allowed;
}

.emailForm {
  flex-direction: column;
  position: absolute;
  margin: 30px;
  margin-top: 15px;
}

.lineInput, .bodyInput, .sendButton {
  margin: 10px;
  outline: none;
}

.lineInput,.bodyInput {
  border: 0px;
  border-bottom: 2px;
  border-color: white;
  border-style: solid;
  background-color: transparent;
  width: 300px;
  height: 50px;
  padding: 20px;
  color:white;
}

.bodyInput {
  height: 250px;
  vertical-align:text-bottom;
  resize: none;
}

.sendButton {
  border: 0px;
  padding: 1rem 2rem;
  width: 100px;
  background-color: white;
}

.skipButton {
  position: absolute;
  left: 93%;
  top: 90%;
  z-index: 11;
}

.panderShield {
  position: absolute;
  top: 76%;
  width:100%;
  height: 10%;
  user-select: none;
}

.sendButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(256, 256, 256, 1);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(220, 220, 220, 1);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(220, 220, 220, 1);
}