.body {
  height: 100%;
  overflow: hidden;
}

/* GLASS -------------------------------------------- */

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    #65dfc9,
    #6cdbeb
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  display: flex;
  height: 700px;
  min-height: 700px;
  width: 1200px;
  min-width: 1200px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(20px);
  overflow: hidden;
  /*margin-left: 800px; DELETE ME*/
}

/* SIDEBAR ------------------------------------------ */

.dash {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 3;
  backdrop-filter: blur(20px);
}

.me {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.me h3{
  margin-top: 5px;
}
.me p {
  font-size: small;
}

.navi {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.spacer {
  flex: 1;
  user-select: none;
}

/* BODY --------------------------------------------- */

.window {
  flex: 3;
}

.stripTree, .strip {
  position: absolute;
  left: 0px;
  top: 0px;
}

.panelAligner {
  position: absolute;
  top     : 50px;
  left    : 350px;
  z-index: 2;
}
.panel {
  height: 550px;
  width: 800px;
  background: linear-gradient(
    to right bottom,
    rgba(101, 223, 201, 0.6),
    rgba(108, 219, 235, 0.3)
  );
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  display: flex;
  user-select: none;

}
.panel p {
  margin: 20px;
  font-size:medium;
}


.info {
  flex-direction: column;
  position: absolute;
  margin-top: 40px;
  left: 60%;
}

.info h1{
  margin-top: 15px;
  color: white;
}

iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.media {
  width:100%;
  height: 100%;
  flex:1;
  object-fit: cover;
  border-radius: 20px;
}

.cursor {
  background-image: url(../icons/cursor.png);
  background-size: contain;
  width: 21px;
  height: 21px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 100;
  user-select: none;
}

.collage {
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border:solid;
  border-color: white;
  border-width: 5px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right top,
    #65dfc9,
    #6cdbeb
  );
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}